{% extends 'base.html' %}
{% load static %}
{% comment %} {% block title %} Новый пост {% endblock %} {% endcomment %}
{% block content %}
{% comment %} <title>Новый пост</title> {% endcomment %}
  <body>	   
    <main>
     
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                {% if is_edit %}
                Редактировать запись
                {% else %}
                Добавить запись 
                {% endif %} 
              </div>
              <div class="card-body">
                {% if is_edit %}        
                  <form method="post" action="{% url 'posts:post_edit' post_id %}">
                    {% csrf_token %}
                    {% else %}
                  <form method="post" action="{% url 'posts:post_create' %}">
                    {% endif %} 
                    {% comment %} <form method="post" action="{% url 'post_create' %}"> {% endcomment %}
                {% csrf_token %}
                  <div class="form-group row my-3 p-3">
                    <label for="id_text">
                      Текст поста                  
                      <span class="required text-danger" >*</span>                  
                    </label>
                    {% for field in form %}
                      <div class="form-group row my-3 p-3">
                        <label for="{{ field.id_for_label }}">
                          {{ field.label }}
                          {% if field.field.required %}
                            <span class="required text-danger">*</span>
                          {% endif %}
                        </label>    
                        {{ field }}
                        </div>
                        <small id="id_group-help" class="form-text text-muted">
                          Текст поста
                        </small>
                    {% endfor %}
                  <small id="id_group-help" class="form-text text-muted">
                    Группа, к которой будет относиться пост
                  </small>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                        {% if is_edit %}
                          Сохранить
                        {% else %}
                          Добавить
                        {% endif %}               
                      </button> 
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
 
    </main>
  </body>
{% endblock %}